
body{
    font-family: arial;
    margin:0;
    padding:0;
}

header{
    background-color:darksalmon;
    height:80px;
  
}

h1{
    color:white;
    font-size: 40px;
    font-family:"Didot"
}

h2{
    color:white;
    font-family:"Didot"
}


.container{
    width:960px;
    margin:auto
}

.topics{
    background-color:darksalmon
}